<style>
  @font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('{{ "fonts/lora-v36-latin-regular.woff2" | relURL }}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('{{ "fonts/lora-v36-latin-700.woff2" | relURL }}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('{{ "fonts/open-sans-v43-latin-regular.woff2" | relURL }}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('{{ "fonts/open-sans-v43-latin-600.woff2" | relURL }}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('{{ "font/fira-code-v26-latin-regular.woff2" | relURL }}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 600;
    src: url('{{ "font/fira-code-v26-latin-600.woff2" | relURL }}') format('woff2');
  }
</style>
