@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.nav {
  display: grid;
  margin-block: 0 2em;

  &__label {
    color: var(--third-color);
    border-bottom: 1px dotted var(--second-border);
    margin-block-end: 1em;
    font-size: v.$fs-5xl;
    font-family: v.$font-serif;
  }

  &__item {
    @include m.transition(all);
    @include m.flex-justify(start, center);
    gap: 0.5em;
    font-size: v.$fs-base;
    padding: 0.75em 1.5em;
    margin-block: 0.2em 0.25em;
    color: var(--primary-text);
    cursor: pointer;
    font-weight: 700;
    border-radius: 0.75em;

    &:hover {
      background-color: var(--third-bg);
    }

    input[type="radio"] {
      display: none;
    }
    .icon--circel {
      display: inline;
    }
    .icon--check-circle {
      display: none;
    }

    &--is-active,
    &--is-ancestor {
      background-color: var(--primary-bg);
      color: var(--color-white);

      &:hover {
        background-color: var(--primary-bg-hover);
      }

      .icon--circel {
        display: none;
      }

      .icon--check-circle {
        display: inline;
      }
    }
  }
}
